<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" ; charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Header");
    <!-- banner -->
    <div class="banner" id="home">
        <div class="layer">
            <div class="container">
                <div class="banner-text-w3pvt">
                    @Html.Partial("_BannerSlide");
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    @Html.Partial("_Footer");
    @Html.Partial("_MoveTop");
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
